@import "../Utilidades/extend";
@import "../Utilidades/mixin";
@import "../Utilidades/variables";

// Estilos del Header

header {
    @extend %estilo-header;
}

// Estilos Main

.main-contacto {
    display: flex;
    justify-content: center;
    background-color: $fondo-principal;

    .container-contactos {
        margin-top: 2rem;
        width: 100%;
        margin-bottom: 4rem;

        h1 {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .container-redes {

            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: 6rem;
            margin-bottom: 6rem;

            .boton-gmail {


                button {
                    width: 11.5rem;
                    height: 4.5rem;
                    background-color: #E62143;
                    border-radius: 1.2rem;
                    border-color: #E62143;
                    color: white;
                    font-size: 1.25rem;
                }
            }

            .boton-whatsapp {

                button {
                    width: 11.5rem;
                    height: 4.5rem;
                    background-color: #ABF1C6;
                    border-radius: 1.2rem;
                    border-color: #ABF1C6;
                    color:black;
                    font-size: 1.25rem;

                }
            }
        }
    }

}

// Estilos Footer

footer {
    @include estilo-footer;
}